.one {
    background-image: url(img/pexels-jonathan-borba-2983101.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    opacity: .85;
}
.one-content h1 {
    text-shadow: 2px 2px darkblue;
}
.three .card h4 {
    text-shadow: 2px 2px darkblue;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -40%);
}
.four p, .six .swiper1 p {
    text-align: justify;
}